/*Universal CSS*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&display=swap');

body {
  background-color: #fafafa;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

#nav-container {
  width: 100%;
  position: relative;
  text-align: center;
}

#nav-bar {
  font-family: Calibri, sans-serif;
  font-weight: 500;
  overflow: hidden;
  font-size: 20px;
  background-color: #484b6a;
  position: sticky;
  top: 0;
  z-index: 2;
  
}

#nav-bar ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
}

#nav-bar ul li a {
  display: block;
  padding: 20px 50px;
  color: #fafafa;
  text-decoration: none;
  transition: background-color .5s;
}

#nav-container ul li a:hover {
  background-color: #9394a5;
  transition: ease-out .5s;
}

.container {
  padding-left: 1vw;
  padding-right: 1vw;
  overflow: hidden;
  background-color: #fafafa;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  color: #484b6a;
  width: 100%;
}

/*Resume (Fixed-width)*/

#res-sum {
  background-color: #e4e5f1;
  position: relative;
  margin-top: 1%;
  padding: 10px;
}

#res-sum p {
  margin: 0;
}

#resume h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}

#res-work-skills {
  background-color: #606ad1;
  position: relative;
}

#res-skills, #res-work {
  width: 100%;
  margin-top: 20px;
}

#res-skills {
  float: right;
  width: 600px;
  background-color: #e4e5f1;
  padding: 10px;
  padding-bottom: 210px;
}

#res-work {
  float: left;
  background-color: #e4e5f1;
  width: 1200px;
  padding: 10px;
}

#res-project {
  margin-top: 440px;
  background-color: #e4e5f1;
  padding: 10px;
  justify-items: center;
}

#res-project ul {
  padding: 0;
}

#res-footer img {
  width: 50px;
  height: auto;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

#res-footer {
  text-align: center;
  width: 100%;
  background-color: #484b6a;
  margin-top: 20px;
}

#res-footer img:hover {
  background-color: #9394a5;
  transition: ease-out .5s;
}

/* CD Page (Fluid-page)*/

#cd-list {
  display: inline-block;
  width: 50vw;
}

#cd-list-content ol li {
  background-color: #e4e5f1;
  padding: 15px;
  margin: 10px;
  width: 40vw;
}

#cd-list-content ol {
  padding: 0;
  padding-left: 10px;
}

#cd-side {
  display: inline-block;
  max-width: 50vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  margin-bottom: 500px;
}

#cd-list-content, #cd-side {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

#achievements img {
  display: inline-block;
  min-width: 40%;
  max-width: 100%;
  height: auto;
}

#music {
  display: flex;
}

#videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 640px;
  max-height: 360px;
}

/* Cake Recipe (fixed)*/

#cake h3 {
  margin-top: 0;
}

#banner {
  width: 52%;
  padding: 0;
  float: left;
}

#banner-text {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #e4e5f1;
}

#cake-slice img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#cake-slice {
  background-color: #e4e5f1;
  padding-top: 0;
  margin-top: 0;
  padding: 10px;
}

#ing-section {
  background-color: #e4e5f1;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 45px;
  float: right;
  width: 855PX;
}

#ing-section img {
  float: left;
}

#ing-section ul {
  float: right;
}

#ing-section li {
  padding: 5px;
}

#instr-section {
  background-color: #e4e5f1;
  padding: 10px;
  margin-top: 10px;
  float: left;
}

#nutri-section {
  background-color: #e4e5f1;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  float: right;
}

#ing-nutri {
  width: 100%;
  display: flex;
}

#cake-footer {
  background-color: #e4e5f1;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  padding: 10px;
  margin: 10px 1vw 10px 1vw;
}

#cake-footer a {
  color: #484b6a;
  text-decoration: none;
  transition: color .5s;
}

#cake-footer a:hover {
  color: #606ad1;
  transition: ease-out .5s;
}

/* Map */
#map {
  height: 100%;
}